.mainsho {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-x: scroll;
    position: relative;
    display: grid;
    place-items: center;
    scrollbar-width: none;
    -ms-overflow-style: none; 
  }
  
  .imgsho {
    max-height: 110%;
    position: absolute;
    inset: 0;
    margin: auto;
    object-fit: cover; 
    z-index: 1;
  }

  @media (max-width: 1200px) {
    .imgsho {
        max-width: 200%;
        left: 50%;
        margin-left: -100%;
    }
}