.mains {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: grid;
    place-items: center;
  }

    .imgs {
        height: 100%;
        position: absolute;
        inset: 0;
        margin: auto;
        object-fit: cover; 
        bottom:5%;
    }
    .imgmid {
      height: 65%;
      position: absolute;
      margin: auto;
      object-fit: cover; 
      bottom:30%;
      left:7%;
    }
    .imgtops {
      top:10%;
      height: 40%;
      position: absolute;
      margin: auto;
      object-fit: cover; 
  }
    .imgrav {
        max-height: 22%;
        max-width: 22%;
        position: absolute;
        margin: auto;
        z-index: 10;
        top:10%;
        left:8%;
    }
  .linksrav{    
    position: absolute;
    color: white;
    font-size: 2.8vw;
    font-weight: 700;
    margin: auto;
    top: 22%;
    left: 8%;
    text-decoration: none;
    z-index: -1;
}
  @media (max-width: 1200px) {
    .imgrav{
        max-width: 50%;
        max-height: 50%;
        top:10%;
    }
    .imgs{
      max-height: 50%;
    }
    .linksrav{
        font-size: 5vw;
    }
}