.containsup{
    position: relative;
    z-index: 1;
    clear: both;
    display: block;
    max-width: 1200px;
    padding: 1.66em 0 0;
    margin: 0 auto;
    text-align: left;
    font-size: 24px;
}
.titlesup{
    position: relative;
    z-index: 3;
    font-size: 2.33em;
    letter-spacing: 0.1em;
    text-align: center;
    color: #fff;
}


.list-container {
    margin-top:10%;
    padding-top: 5%;
    display: flex;
    justify-content: center; /* Center horizontally */
  }
  
  .list-column {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center vertically */
    width: 40%; /* Adjust width of columns */
  }
  
  .list-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px; /* Adjust spacing between items */
    cursor: pointer;
  }
  
  .list-item:hover .list-text {
    text-decoration: underline;
  }
  
  .list-icon {
    width: 30px; /* Adjust icon size as needed */
    height: auto;
    margin-right: 10px; /* Adjust spacing between icon and text */
  }
  
  .list-text {
    font-size: 16px;
    transition: text-decoration 0.3s ease;
    color: #fff;
    font-size:1em;
  }
  .list-item a{
    text-decoration: none !important;
  }