.maincl {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bck {
  position: absolute;
  top: 0;
  left: 0;
  width: 180%;
  height: 150%;
  object-fit: cover;
  overflow: hidden;
  z-index: -1; 
}

.horizontal-container {
    position: relative;
    display: flex;
    overflow-x: auto; /* Allows horizontal scrolling */
    height: 100vh; /* Ensures full height */
    scrollbar-width: none;
    -ms-overflow-style: none; 
  }
  
  .horizontal-container::-webkit-scrollbar {
    display: none; 
  }
  .horizontal-container > * {
    min-width: 100vw; /* Ensures each child takes full viewport width */
    flex-shrink: 0; /* Prevents shrinking */
  }